# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/UserSettings/

# Visual Studio
*.csproj
*.sln
*.user
*.pidb
*.unityproj

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Git LFS
*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
